services:
  db:
    image: mysql:latest
    container_name: quote-api-db
    restart: unless-stopped
    volumes:
      - database:/var/lib/mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: quotedb
      MYSQL_USER: admin
      MYSQL_PASSWORD: root

volumes:
  database:
