########## Jaeger Deployment ##########

apiVersion: apps/v1
kind: Deployment
metadata:
  name: jaeger
  namespace: quote-api-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: jaeger
  template:
    metadata:
      labels:
        app: jaeger
    spec:
      containers:
        - name: jaeger
          image: jaegertracing/all-in-one:1.47
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 16686
---

########## Jaeger Service ##########

apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: quote-api-namespace
spec:
  type: NodePort
  selector:
    app: jaeger
  ports:
    - port: 16686
      targetPort: 16686
      nodePort: 31686