########## Redis Deployment ##########

apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis
  namespace: quote-api-namespace
  labels:
    app: redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
        - name: redis
          image: redis:latest
          imagePullPolicy: IfNotPresent
          ports:
            - protocol: TCP
              containerPort: 6379
          resources:
            requests:
              memory: 64Mi
              cpu: 100m
            limits:
              memory: 128Mi
              cpu: 200m
---

########## Redis Service ##########

apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: quote-api-namespace
  labels:
    app: redis
spec:
  type: ClusterIP
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: 6379