.rating {
    direction: rtl;
    unicode-bidi: bidi-override;
    display: inline-block;
}

.rating input {
    display: none;
}

.rating label {
    font-size: 2rem;
    color: lightgray;
    cursor: pointer;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold;
}
